HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Maven target
/target/
/spring_backend/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java/Maven
.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear

# Environment files
.env

# Backup / compressed
*.zip
*.rar
*.7z

# Ignore generated
**/*.class

# Root project data folder
/data/
../data/
